In [1]:
# Import dependencies 
import pandas as pd
from pathlib import Path

In [2]:
# Create paths for csv files to be imported in 
us_weather_path = Path("Weather_Data/united_states_weather.csv")
denver_weather_path = Path("den_weather.csv")
london_weather_path = Path("Weather_Data/london_weather_data.csv")

In [3]:
# Make a dataframe for the united_states datframe 
us_weather_df = pd.read_csv(us_weather_path, encoding="ISO-8859-1")
london_weather_df = pd.read_csv(london_weather_path, encoding="ISO-8859-1")

In [5]:
# Display the first 5 rows of data
us_weather_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [ ]:
us_weather_df.dtypes

In [9]:
# Assuming 'StartTime(UTC)' column is in datetime format
us_weather_df['StartTime(UTC)'] = pd.to_datetime(us_weather_df['StartTime(UTC)'])

# Extract the year from the 'StartTime(UTC)' column
us_weather_df['Year'] = us_weather_df['StartTime(UTC)'].dt.year

# Filter the DataFrame to include only the year 2022
us_weather_df_2022 = us_weather_df[us_weather_df['Year'] == 2022]

In [11]:
# Count the number of rows displaying the Dallas airports for 2022
us_weather_df[us_weather_df['AirportCode'] == 'KDFW'].count()

EventId              3155
Type                 3155
Severity             3155
StartTime(UTC)       3155
EndTime(UTC)         3155
Precipitation(in)    3155
TimeZone             3155
AirportCode          3155
LocationLat          3155
LocationLng          3155
City                 3155
County               3155
State                3155
ZipCode              3155
Year                 3155
dtype: int64

In [13]:
# Sort the data to only include DFW airports
dallas_weather = us_weather_df_2022[us_weather_df_2022['AirportCode'] == 'KDFW']
dallas_weather.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode,Year
3831343,W-4041689,Rain,Light,2022-01-01 05:41:00,2022-01-01 08:53:00,0.05,US/Central,KDFW,32.8974,-97.022,Dallas,Dallas,TX,75261.0,2022
3831344,W-4041690,Rain,Light,2022-01-01 11:53:00,2022-01-01 12:53:00,0.00,US/Central,KDFW,32.8974,-97.022,Dallas,Dallas,TX,75261.0,2022
3831345,W-4041691,Rain,Light,2022-01-08 13:53:00,2022-01-08 14:42:00,0.02,US/Central,KDFW,32.8974,-97.022,Dallas,Dallas,TX,75261.0,2022
3831346,W-4041692,Fog,Severe,2022-01-08 15:39:00,2022-01-08 18:53:00,0.00,US/Central,KDFW,32.8974,-97.022,Dallas,Dallas,TX,75261.0,2022
3831347,W-4041693,Rain,Light,2022-01-08 18:53:00,2022-01-08 20:34:00,0.02,US/Central,KDFW,32.8974,-97.022,Dallas,Dallas,TX,75261.0,2022

In [14]:
# Include the 'EventId','Type','Severity','StartTime(UTC)','Precipitation(in)','AirportCode','LocationLat','LocationLng','City','County','State'
dallas_weather_df = dallas_weather[['EventId','Type','Severity','StartTime(UTC)','Precipitation(in)','AirportCode','LocationLat','LocationLng','City','County','State']]
dallas_weather_df

,EventId,Type,Severity,StartTime(UTC),Precipitation(in),AirportCode,LocationLat,LocationLng,City,County,State
3831343,W-4041689,Rain,Light,2022-01-01 05:41:00,0.05,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831344,W-4041690,Rain,Light,2022-01-01 11:53:00,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831345,W-4041691,Rain,Light,2022-01-08 13:53:00,0.02,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831346,W-4041692,Fog,Severe,2022-01-08 15:39:00,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831347,W-4041693,Rain,Light,2022-01-08 18:53:00,0.02,KDFW,32.8974,-97.022,Dallas,Dallas,TX
...,...,...,...,...,...,...,...,...,...,...,...
3831738,W-4042084,Rain,Light,2022-12-22 14:16:00,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831739,W-4042085,Snow,Light,2022-12-22 14:28:00,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831740,W-4042086,Storm,Severe,2022-12-22 15:53:00,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831741,W-4042087,Snow,Light,2022-12-22 16:32:00,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831742,W-4042088,Snow,Light,2022-12-22 20:46:00,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX

In [17]:
# Assuming 'StartTime(UTC)' column is in datetime format
dallas_weather_df['StartTime(UTC)'] = pd.to_datetime(dallas_weather_df['StartTime(UTC)'])

# Convert datetime to date (removing the time component)
dallas_weather_df['StartTime(UTC)'] = dallas_weather_df['StartTime(UTC)'].dt.date
dallas_weather_df

C:\Users\14029\AppData\Local\Temp\ipykernel_127572\1529116697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dallas_weather_df['StartTime(UTC)'] = pd.to_datetime(dallas_weather_df['StartTime(UTC)'])
C:\Users\14029\AppData\Local\Temp\ipykernel_127572\1529116697.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dallas_weather_df['StartTime(UTC)'] = dallas_weather_df['StartTime(UTC)'].dt.date

,EventId,Type,Severity,StartTime(UTC),Precipitation(in),AirportCode,LocationLat,LocationLng,City,County,State
3831343,W-4041689,Rain,Light,2022-01-01,0.05,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831344,W-4041690,Rain,Light,2022-01-01,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831345,W-4041691,Rain,Light,2022-01-08,0.02,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831346,W-4041692,Fog,Severe,2022-01-08,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831347,W-4041693,Rain,Light,2022-01-08,0.02,KDFW,32.8974,-97.022,Dallas,Dallas,TX
...,...,...,...,...,...,...,...,...,...,...,...
3831738,W-4042084,Rain,Light,2022-12-22,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831739,W-4042085,Snow,Light,2022-12-22,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831740,W-4042086,Storm,Severe,2022-12-22,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831741,W-4042087,Snow,Light,2022-12-22,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3831742,W-4042088,Snow,Light,2022-12-22,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX

In [19]:
# Export the dfw_weather dataframe into a CSV file
dallas_weather_df.to_csv('Weather_Data/dallas_weather_2022.csv')

In [20]:
# Read in the Denver CSV file
denver_weather_df = pd.read_csv(denver_weather_path, encoding="ISO-8859-1")
denver_weather_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-3490323,Snow,Moderate,1/1/22 2:53,1/1/22 4:53,0.11,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249
1,W-3490324,Snow,Light,1/1/22 4:53,1/1/22 20:06,0.22,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249
2,W-3490325,Snow,Light,1/5/22 21:40,1/6/22 0:45,0.00,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249
3,W-3490326,Snow,Moderate,1/6/22 0:45,1/6/22 1:22,0.07,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249
4,W-3490327,Snow,Light,1/6/22 1:22,1/6/22 1:44,0.01,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249

In [21]:
denver_weather_df = denver_weather_df[['EventId','Type','Severity','StartTime(UTC)','Precipitation(in)','AirportCode','LocationLat','LocationLng','City','County','State']]
denver_weather_df

,EventId,Type,Severity,StartTime(UTC),Precipitation(in),AirportCode,LocationLat,LocationLng,City,County,State
0,W-3490323,Snow,Moderate,1/1/22 2:53,0.11,KDEN,39.8466,-104.6562,Denver,Denver,CO
1,W-3490324,Snow,Light,1/1/22 4:53,0.22,KDEN,39.8466,-104.6562,Denver,Denver,CO
2,W-3490325,Snow,Light,1/5/22 21:40,0.00,KDEN,39.8466,-104.6562,Denver,Denver,CO
3,W-3490326,Snow,Moderate,1/6/22 0:45,0.07,KDEN,39.8466,-104.6562,Denver,Denver,CO
4,W-3490327,Snow,Light,1/6/22 1:22,0.01,KDEN,39.8466,-104.6562,Denver,Denver,CO
...,...,...,...,...,...,...,...,...,...,...,...
341,W-3490664,Snow,Heavy,12/29/22 5:50,0.19,KDEN,39.8466,-104.6562,Denver,Denver,CO
342,W-3490665,Snow,Moderate,12/29/22 6:53,0.05,KDEN,39.8466,-104.6562,Denver,Denver,CO
343,W-3490666,Snow,Light,12/29/22 7:53,0.02,KDEN,39.8466,-104.6562,Denver,Denver,CO
344,W-3490667,Snow,Moderate,12/29/22 8:53,0.03,KDEN,39.8466,-104.6562,Denver,Denver,CO
345,W-3490668,Snow,Light,12/29/22 9:34,0.03,KDEN,39.8466,-104.6562,Denver,Denver,CO

In [26]:
denver_weather_df.dtypes

EventId               object
Type                  object
Severity              object
StartTime(UTC)        object
Precipitation(in)    float64
AirportCode           object
LocationLat          float64
LocationLng          float64
City                  object
County                object
State                 object
dtype: object

In [28]:
# Assuming 'StartTime(UTC)' column is in datetime format
denver_weather_df['StartTime(UTC)'] = pd.to_datetime(denver_weather_df['StartTime(UTC)'])

In [29]:
# Convert datetime to date (removing the time component)
denver_weather_df['StartTime(UTC)'] = denver_weather_df['StartTime(UTC)'].dt.date
denver_weather_df

,EventId,Type,Severity,StartTime(UTC),Precipitation(in),AirportCode,LocationLat,LocationLng,City,County,State
0,W-3490323,Snow,Moderate,2022-01-01,0.11,KDEN,39.8466,-104.6562,Denver,Denver,CO
1,W-3490324,Snow,Light,2022-01-01,0.22,KDEN,39.8466,-104.6562,Denver,Denver,CO
2,W-3490325,Snow,Light,2022-01-05,0.00,KDEN,39.8466,-104.6562,Denver,Denver,CO
3,W-3490326,Snow,Moderate,2022-01-06,0.07,KDEN,39.8466,-104.6562,Denver,Denver,CO
4,W-3490327,Snow,Light,2022-01-06,0.01,KDEN,39.8466,-104.6562,Denver,Denver,CO
...,...,...,...,...,...,...,...,...,...,...,...
341,W-3490664,Snow,Heavy,2022-12-29,0.19,KDEN,39.8466,-104.6562,Denver,Denver,CO
342,W-3490665,Snow,Moderate,2022-12-29,0.05,KDEN,39.8466,-104.6562,Denver,Denver,CO
343,W-3490666,Snow,Light,2022-12-29,0.02,KDEN,39.8466,-104.6562,Denver,Denver,CO
344,W-3490667,Snow,Moderate,2022-12-29,0.03,KDEN,39.8466,-104.6562,Denver,Denver,CO
345,W-3490668,Snow,Light,2022-12-29,0.03,KDEN,39.8466,-104.6562,Denver,Denver,CO

In [30]:
kden_weather = denver_weather_df[denver_weather_df['AirportCode'] == 'KDEN']
kden_weather.head()

,EventId,Type,Severity,StartTime(UTC),Precipitation(in),AirportCode,LocationLat,LocationLng,City,County,State
0,W-3490323,Snow,Moderate,2022-01-01,0.11,KDEN,39.8466,-104.6562,Denver,Denver,CO
1,W-3490324,Snow,Light,2022-01-01,0.22,KDEN,39.8466,-104.6562,Denver,Denver,CO
2,W-3490325,Snow,Light,2022-01-05,0.00,KDEN,39.8466,-104.6562,Denver,Denver,CO
3,W-3490326,Snow,Moderate,2022-01-06,0.07,KDEN,39.8466,-104.6562,Denver,Denver,CO
4,W-3490327,Snow,Light,2022-01-06,0.01,KDEN,39.8466,-104.6562,Denver,Denver,CO

In [31]:
kden_weather.to_csv('Weather_Data/denver_weather_2022.csv')

In [32]:
london_weather_df.head()

         date  tavg  tmin  tmax  prcp  snow
0  2022-01-01  11.8  10.5  13.1   0.1     0
1  2022-01-02  10.5   8.5  11.5   3.0     0
2  2022-01-03   8.3   7.1   9.7   0.0     0
3  2022-01-04   3.8   0.2   7.0   2.5     0
4  2022-01-05   1.6  -0.4   4.6   0.0     0

In [33]:
# Assuming 'StartTime(UTC)' column is in datetime format
london_weather_df['date'] = pd.to_datetime(london_weather_df['date'])

In [34]:
# Convert datetime to date (removing the time component)
london_weather_df['date'] = london_weather_df['date'].dt.date

In [35]:
london_weather_df

           date  tavg  tmin  tmax  prcp  snow
0    2022-01-01  11.8  10.5  13.1   0.1     0
1    2022-01-02  10.5   8.5  11.5   3.0     0
2    2022-01-03   8.3   7.1   9.7   0.0     0
3    2022-01-04   3.8   0.2   7.0   2.5     0
4    2022-01-05   1.6  -0.4   4.6   0.0     0
..          ...   ...   ...   ...   ...   ...
360  2022-12-27   5.6   2.1   9.4   2.4     0
361  2022-12-28  10.0   9.4  10.8   4.0     0
362  2022-12-29   7.5   5.0   9.2   0.0     0
363  2022-12-30   9.0   5.3  11.7   4.7     0
364  2022-12-31  11.9  10.3  12.6   9.0     0

[365 rows x 6 columns]

In [37]:
# Export the dfw_weather dataframe into a CSV file
london_weather_df.to_csv('Weather_Data/london_weather_df.csv')