In [2]:
# Import dependencies 
import pandas as pd
from pathlib import Path

In [50]:
# Create paths for csv files to be imported in 
us_weather_path = Path("Weather_Data/united_states_weather.csv")
denver_weather_path = Path("den_weather.csv")
london_weather_path = Path("Weather_Data/london_weather_2022.csv")

In [51]:
# Make a dataframe for the united_states datframe 
us_weather_df = pd.read_csv(us_weather_path, encoding="ISO-8859-1")
london_weather_df = pd.read_csv(london_weather_path, encoding="ISO-8859-1")

In [5]:
# Display the first 5 rows of data
us_weather_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [15]:
# Count the number of rows displaying the Dallas weather for 2016-2022
us_weather_df[us_weather_df['City'] == 'Dallas'].count()

EventId              15071
Type                 15071
Severity             15071
StartTime(UTC)       15071
EndTime(UTC)         15071
Precipitation(in)    15071
TimeZone             15071
AirportCode          15071
LocationLat          15071
LocationLng          15071
City                 15071
County               15071
State                15071
ZipCode              15071
dtype: int64

In [41]:
# Assuming 'StartTime(UTC)' column is in datetime format
us_weather_df['StartTime(UTC)'] = pd.to_datetime(us_weather_df['StartTime(UTC)'])

In [42]:
# Convert datetime to date (removing the time component)
us_weather_df['StartTime(UTC)'] = us_weather_df['StartTime(UTC)'].dt.date

In [43]:
us_weather_df.dtypes

EventId               object
Type                  object
Severity              object
StartTime(UTC)        object
EndTime(UTC)          object
Precipitation(in)    float64
TimeZone              object
AirportCode           object
LocationLat          float64
LocationLng          float64
City                  object
County                object
State                 object
ZipCode              float64
dtype: object

In [28]:
# Sort the dataframe to include only Dallas cities
dallas_weather = us_weather_df[us_weather_df['City'] == 'Dallas']
dallas_weather.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
1352454,W-1426760,Rain,Light,2016-01-06,2016-01-06 16:53:00,0.00,US/Central,KRBD,32.6809,-96.8682,Dallas,Dallas,TX,75237.0
1352455,W-1426761,Rain,Light,2016-01-07,2016-01-07 02:00:00,0.21,US/Central,KRBD,32.6809,-96.8682,Dallas,Dallas,TX,75237.0
1352456,W-1426762,Rain,Light,2016-01-07,2016-01-07 02:41:00,0.08,US/Central,KRBD,32.6809,-96.8682,Dallas,Dallas,TX,75237.0
1352457,W-1426763,Rain,Heavy,2016-01-07,2016-01-07 03:06:00,0.83,US/Central,KRBD,32.6809,-96.8682,Dallas,Dallas,TX,75237.0
1352458,W-1426764,Rain,Moderate,2016-01-07,2016-01-07 04:26:00,0.32,US/Central,KRBD,32.6809,-96.8682,Dallas,Dallas,TX,75237.0

In [29]:
# Include the 'EventId','Type','Severity','StartTime(UTC)','Precipitation(in)','AirportCode','LocationLat','LocationLng','City','County','State'
dallas_weather_df = dallas_weather[['EventId','Type','Severity','StartTime(UTC)','Precipitation(in)','AirportCode','LocationLat','LocationLng','City','County','State']]
dallas_weather_df

,EventId,Type,Severity,StartTime(UTC),Precipitation(in),AirportCode,LocationLat,LocationLng,City,County,State
1352454,W-1426760,Rain,Light,2016-01-06,0.00,KRBD,32.6809,-96.8682,Dallas,Dallas,TX
1352455,W-1426761,Rain,Light,2016-01-07,0.21,KRBD,32.6809,-96.8682,Dallas,Dallas,TX
1352456,W-1426762,Rain,Light,2016-01-07,0.08,KRBD,32.6809,-96.8682,Dallas,Dallas,TX
1352457,W-1426763,Rain,Heavy,2016-01-07,0.83,KRBD,32.6809,-96.8682,Dallas,Dallas,TX
1352458,W-1426764,Rain,Moderate,2016-01-07,0.32,KRBD,32.6809,-96.8682,Dallas,Dallas,TX
...,...,...,...,...,...,...,...,...,...,...,...
6503719,W-6855423,Rain,Light,2022-12-31,0.00,KPUJ,33.9120,-84.9410,Dallas,Paulding,GA
6503720,W-6855424,Rain,Light,2022-12-31,0.00,KPUJ,33.9120,-84.9410,Dallas,Paulding,GA
6503721,W-6855425,Fog,Severe,2022-12-31,0.00,KPUJ,33.9120,-84.9410,Dallas,Paulding,GA
6503722,W-6855426,Rain,Light,2022-12-31,0.00,KPUJ,33.9120,-84.9410,Dallas,Paulding,GA
6503723,W-6855427,Rain,Light,2022-12-31,0.00,KPUJ,33.9120,-84.9410,Dallas,Paulding,GA

In [32]:
# Sort the data to include only the year 2022
dallas_weather_df_2022 = dallas_weather_df[dallas_weather_df['StartTime(UTC)'].dt.year == 2022]
dallas_weather_df_2022.head()

AttributeError: Can only use .dt accessor with datetimelike values

In [33]:
# Sort the data to only include DFW airports
dfw_weather = dallas_weather_df[dallas_weather_df['AirportCode'] == 'KDFW']
dfw_weather.head()

,EventId,Type,Severity,StartTime(UTC),Precipitation(in),AirportCode,LocationLat,LocationLng,City,County,State
3828588,W-4038934,Rain,Light,2016-01-06,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3828589,W-4038935,Rain,Light,2016-01-06,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3828590,W-4038936,Rain,Light,2016-01-06,0.00,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3828591,W-4038937,Rain,Light,2016-01-07,0.01,KDFW,32.8974,-97.022,Dallas,Dallas,TX
3828592,W-4038938,Precipitation,UNK,2016-01-07,1.21,KDFW,32.8974,-97.022,Dallas,Dallas,TX

In [ ]:
# Export the dfw_weather dataframe into a CSV file
dfw_weather.to_csv('Weather_Data/dallas_weather_2022.csv')

In [36]:
# Read in the Denver CSV file
denver_weather_df = pd.read_csv(denver_weather_path, encoding="ISO-8859-1")
denver_weather_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-3490323,Snow,Moderate,1/1/22 2:53,1/1/22 4:53,0.11,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249
1,W-3490324,Snow,Light,1/1/22 4:53,1/1/22 20:06,0.22,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249
2,W-3490325,Snow,Light,1/5/22 21:40,1/6/22 0:45,0.00,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249
3,W-3490326,Snow,Moderate,1/6/22 0:45,1/6/22 1:22,0.07,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249
4,W-3490327,Snow,Light,1/6/22 1:22,1/6/22 1:44,0.01,US/Mountain,KDEN,39.8466,-104.6562,Denver,Denver,CO,80249

In [37]:
denver_weather_df = denver_weather_df[['EventId','Type','Severity','StartTime(UTC)','Precipitation(in)','AirportCode','LocationLat','LocationLng','City','County','State']]
denver_weather_df

,EventId,Type,Severity,StartTime(UTC),Precipitation(in),AirportCode,LocationLat,LocationLng,City,County,State
0,W-3490323,Snow,Moderate,1/1/22 2:53,0.11,KDEN,39.8466,-104.6562,Denver,Denver,CO
1,W-3490324,Snow,Light,1/1/22 4:53,0.22,KDEN,39.8466,-104.6562,Denver,Denver,CO
2,W-3490325,Snow,Light,1/5/22 21:40,0.00,KDEN,39.8466,-104.6562,Denver,Denver,CO
3,W-3490326,Snow,Moderate,1/6/22 0:45,0.07,KDEN,39.8466,-104.6562,Denver,Denver,CO
4,W-3490327,Snow,Light,1/6/22 1:22,0.01,KDEN,39.8466,-104.6562,Denver,Denver,CO
...,...,...,...,...,...,...,...,...,...,...,...
341,W-3490664,Snow,Heavy,12/29/22 5:50,0.19,KDEN,39.8466,-104.6562,Denver,Denver,CO
342,W-3490665,Snow,Moderate,12/29/22 6:53,0.05,KDEN,39.8466,-104.6562,Denver,Denver,CO
343,W-3490666,Snow,Light,12/29/22 7:53,0.02,KDEN,39.8466,-104.6562,Denver,Denver,CO
344,W-3490667,Snow,Moderate,12/29/22 8:53,0.03,KDEN,39.8466,-104.6562,Denver,Denver,CO
345,W-3490668,Snow,Light,12/29/22 9:34,0.03,KDEN,39.8466,-104.6562,Denver,Denver,CO

In [46]:
denver_weather_df.dtypes

EventId                      object
Type                         object
Severity                     object
StartTime(UTC)       datetime64[ns]
Precipitation(in)           float64
AirportCode                  object
LocationLat                 float64
LocationLng                 float64
City                         object
County                       object
State                        object
dtype: object

In [45]:
# Assuming 'StartTime(UTC)' column is in datetime format
denver_weather_df['StartTime(UTC)'] = pd.to_datetime(denver_weather_df['StartTime(UTC)'])

In [48]:
# Convert datetime to date (removing the time component)
denver_weather_df['StartTime(UTC)'] = denver_weather_df['StartTime(UTC)'].dt.date

In [49]:
kden_weather = denver_weather_df[denver_weather_df['AirportCode'] == 'KDEN']
kden_weather.head()

,EventId,Type,Severity,StartTime(UTC),Precipitation(in),AirportCode,LocationLat,LocationLng,City,County,State
0,W-3490323,Snow,Moderate,2022-01-01,0.11,KDEN,39.8466,-104.6562,Denver,Denver,CO
1,W-3490324,Snow,Light,2022-01-01,0.22,KDEN,39.8466,-104.6562,Denver,Denver,CO
2,W-3490325,Snow,Light,2022-01-05,0.00,KDEN,39.8466,-104.6562,Denver,Denver,CO
3,W-3490326,Snow,Moderate,2022-01-06,0.07,KDEN,39.8466,-104.6562,Denver,Denver,CO
4,W-3490327,Snow,Light,2022-01-06,0.01,KDEN,39.8466,-104.6562,Denver,Denver,CO

In [ ]:
kden_weather.to_csv('Weather_Data/denver_weather_2022.csv')

In [60]:
london_weather_df.head()

         date  tavg  tmin  tmax  prcp  snow
0  2022-01-01  11.8  10.5  13.1   0.1     0
1  2022-01-02  10.5   8.5  11.5   3.0     0
2  2022-01-03   8.3   7.1   9.7   0.0     0
3  2022-01-04   3.8   0.2   7.0   2.5     0
4  2022-01-05   1.6  -0.4   4.6   0.0     0

In [55]:
# Assuming 'StartTime(UTC)' column is in datetime format
london_weather_df['date'] = pd.to_datetime(london_weather_df['date'])

In [59]:
london_weather_df.dtypes

date     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
snow      int64
dtype: object

In [58]:
# Convert datetime to date (removing the time component)
london_weather_df['date'] = london_weather_df['date'].dt.date